<?xml version="1.0"?>
<launch>
  <arg name="device"    default="/dev/video0"/>
  <arg name="width"     default="640"/>
  <arg name="height"    default="480"/>
  <arg name="framerate" default="15"/>

  <!--node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="video_device"    value="$(arg device)"/>
    <param name="image_width"     value="$(arg width)"/>
    <param name="image_height"    value="$(arg height)"/>
    <param name="framerate"       value="$(arg framerate)"/>
    <param name="pixel_format"    value="yuyv"/>
    <param name="camera_frame_id" value="usb_cam"/>
    <param name="io_method"       value="mmap"/>

    <remap from="/usb_cam/image_raw" to="/image_in"/>
  </node-->

  <node pkg="opengl_ros" type="make_half_transparent"
    name="make_half_transparent" output="screen">
    <param name="width"           value="$(arg width)"/>
    <param name="height"          value="$(arg height)"/>
    <param name="vertex_shader"   value="$(find opengl_ros_lib)/shader/vs_passthrough.glsl"/>
    <param name="fragment_shader" value="$(find opengl_ros)/shader/make_half_transparent.glsl"/>

    <remap from="image_out" to="/half_transparent"/>
  </node>

  <node pkg="opengl_ros" type="check_transparency"
    name="check_transparency" output="screen">
    <param name="width"           value="$(arg width)"/>
    <param name="height"          value="$(arg height)"/>
    <param name="vertex_shader"   value="$(find opengl_ros_lib)/shader/vs_passthrough.glsl"/>
    <param name="fragment_shader" value="$(find opengl_ros)/shader/check_transparency.glsl"/>

    <remap from="image_in"  to="/half_transparent"/>
    <remap from="image_out" to="/transparency_check"/>
  </node>

  <node pkg="image_view" type="image_view" name="viewer_out">
    <remap from="image" to="/half_transparent"/>
    <param name="window_name" value="Half Transparent Output"/>
  </node>

  <node pkg="image_view" type="image_view" name="view_transparency_check">
    <remap from="image" to="/transparency_check"/>
    <param name="window_name" value="Transparency Check"/>
  </node>
</launch>
